upstream backend {
  server unix:{{ APP_BASE_DIR }}/fhir-hydrant.sock;
}

server {
  listen 8080 default_server;
  listen [::]:8080 default_server;
  server_name _;

  underscores_in_headers  on;

  client_max_body_size 0;

access_log /dev/stdout logger-json-log;

# Do not log health checks
  location ~* /health/(ready|live) { 
    access_log off; 
    proxy_set_header        Host $host;
    proxy_set_header        X-Real-IP $remote_addr;
    proxy_set_header        X-Forwarded-Host $host;
    proxy_set_header        X-Forwarded-Port $server_port;
    proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header        X-Forwarded-Proto $scheme;
    proxy_pass http://backend;
  }

  location / {
    proxy_set_header            Host $host;
    proxy_set_header            X-Real-IP $remote_addr;
    proxy_set_header            X-Forwarded-Host $host;
    proxy_set_header            X-Forwarded-Port $server_port;
    proxy_set_header            X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header            X-Forwarded-Proto $scheme;
    proxy_pass_request_headers  on;
    proxy_pass http://backend;
  }
}
